.collection-preview {
    color:grey;
    width:100%;
    h1.title {
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 10px;;
    }

    .preview {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        column-gap: 20px;
        row-gap: 60px; 
        margin-bottom: 60px;
    }
}