.cart-dropdown {
    position: absolute;
    right:20px;
    top:70px;
    width:240px;
    height: 340px;
    z-index:5;
    display:flex;
    flex-direction: column;
    padding:20px;
    border: 1px solid #424242;
    border-radius: 4px;
    background-color: white;
    cursor:default;

    .cart-items {      
        height: 240px;
        margin-bottom: 10px;
        overflow-y: auto;
        display:flex;
        flex-direction: column;
       
        .empty-message{
            font-weight: 400;
            display: grid;
            place-items: center;
            padding-top: calc((240px - 50px)/2);
        }
    }

    .custom-button {
        margin-top: auto;
    }
}