     .collection-item {
       
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 3px;
         object-fit: cover;
         height: 340px;
         position: relative;
         font-size: 20px;
         display:grid;
         place-items: center;
         font-weight: bold;
         .name {
             position: absolute;
             bottom: -30px;
               left:0;
         }

         .price {
             position: absolute;
             bottom: -30px;          
             right: 0;
         }

         .custom-button {
             display: none; 
             position: absolute;
             bottom:40px;
             text-transform: uppercase;
             opacity:1;
             width:80%;
         }

         &:hover {
               box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2543144461965935),
                           0px 2px 2.9px rgba(0, 0, 0, 0.21518914678173293);
             opacity: .88;
            transition: all 0.2s ease-in-out;
             .custom-button {
                 display:block;
                 opacity: 0.8;
             }
         }
     }