.shop {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top:70px;
    h1.title{
        font-size: 32px;
        font-weight: bolder;
        align-self: start;
        margin-bottom: 30px;
    }

    
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-corner {
    background: #b9b9b9;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #b9b9b9;
}

::-webkit-scrollbar-track {
    opacity: 0;
}